.tier {
    position: relative;
    width: 100%;
    background-image: url("./back2.png");
    background-size: 100% 100%;
    color: white;

}

.res {
    width: 100%;
    display: flex;
    justify-content: center;
}


.Tcontents {
    color: black;
    width: 72vw;
    max-width: 1038px;
    margin: 193px auto;
    display: flex;
    column-gap: 20px;
}


#Timg2{
    display: none;
}

.tleft{
    width: 50%;
}

.tleft h1 {

    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
    color: white;
    margin-bottom: 24px;
}

.tleft>p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    color: white;
}

.tleft h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    margin-bottom: 32px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: white;
}

.tright {
    color: white;

}

.tright img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    /* z-index: -111; */
}

.tright #Timg{
    position: absolute;
    top: 50%;
    /* right: 14%; */
    
    transform: translateY(-57%);
    width: 512px;
    /* height: 602px; */
}



.tBton {
    display: flex;
    gap: 43px;
}

.tBton .tbtn1 {
    background: linear-gradient(134.5deg, #C25FFF 2.88%, #3D29D0 98.85%);
    box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 185px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 4px 4px 4px 32px;
    cursor: pointer;
}

.tBton .tbtn1:hover{
    background: linear-gradient(134.5deg, rgba(194, 95, 255, 0.8) 2.88%, rgba(61, 41, 208, 0.8) 98.85%);;
}
.tBton .tbtn1:active{
    background: linear-gradient(134.5deg, #C25FFF 2.88%, #3D29D0 98.85%);;
}
.tBton .disabledBtn{
    background: rgba(153, 160, 166, 0.8);
    cursor: not-allowed ;
}
.lower .disabledBtn:hover{
    background: rgba(153, 160, 166, 0.8);
    cursor: not-allowed ;
}

.tBton .shopTiers{
    gap: 30px;
    width: auto;
    cursor: pointer;
}

.tBton .tbtn1 button {
    background: transparent;
    border: none;
    font-weight: 400;
    /* font-size: 14px; */
    line-height: 13px;
    color: white;
    cursor: pointer;
}

.tBton .tbtn1 .arrowicons {
    border: none;
    background: transparent;
    width: 34px;
    height: 34px;
    color: white;
}

.tbtn1 .arrowicons{
    color: white;
}

/* .shopTiers button{
    font-size: 10px;
}
.htinvest button{
    font-size: 10px;
} */

.tBton .compage {
    display: none;
}
.compage{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 13px;
}

.compage img{
    height: 10px;
    margin-top: 5px;
}
.compage p{
    font-size: 14px;
    line-height: 16px;
    color: white;
}

@media only screen and (max-width: 1250px) {
    .tright #Timg{
        height: 620px;
    }
}

@media only screen and (max-width: 1150px) {
    
    .tright img {
        width: 412px;
        /* margin-top: 106px; */
    }

    .tBton .tbtn1 {
        width: 159px;
    }
    .shopTiers button{
        font-size: 10px;
    }
    .Tcontents{
        width: 90%;
    }

    .tright #Timg{
        right: 5%;
        height: 610px;
    }
} 

@media only screen and (max-width:1050px) {
    .tright #Timg{
        right: 3%;
        /* height: 610px; */
    }
}

@media only screen and (max-width: 950px) {
    .tier {
        
        background-image: url("./tier-m.png");
        /* margin-top: 50px; */
    }

    .Tcontents {
        flex-direction: column;
        width: 100%;
        margin-top: 180px;
        margin-bottom: 0;
        /* justify-content: center; */
        align-items: center;
        overflow: hidden;
    }
    .tleft{
        margin: 10% 4.5% 0% 4.5%;
        width: 90%;
    }

    #Timg2{
        display: block;
        /* width: 100%; */
        margin-top: 32px;
    }
    #Timg{
        display: none;
    }
    .tBton .tbtn1 {
        /* width: 159px; */
        width: 197px;
    }
    .tBton{
        gap: 18px;
    }
    .back2img {
        height: 1200px;

    }

    #hideBtn {
        display: none;
    }

    .tBton .compage {
        display: flex;
       
    }
    .tright {
        display: flex;
        align-items: center;
    }
    .tright img{
        margin-top: -80px;
    }

}


@media only screen and (max-width: 750px){
    
    .Tcontents{
        margin-top: 100px;
        margin-bottom: 0;
    }

    .tleft{
        width: 95%;
        margin-right: 0;
        margin-left: 0;
    }

    .tleft p{
        font-size: 16px;
        line-height: 19px;
    }
    .tleft h5{
        font-size: 16px;
    }
}


@media only screen and (max-width: 550px){
    .tier {
        margin-top: 110px;
    }

    #Timg2{
        display: block;
        width: 100%;
        margin-top: 32px;
    }
}

@media only screen and (max-width: 410px){
    .tBton{
        display: flex;
        flex-direction: column;
    }
    /* .shopTiers{
        width: auto;
    } */
}



/* @media only screen and (min-width: 1600px){
    .tleft{
        margin-top: 20px;
    }

    .tleft h1{
        font-size: 48px;
        font-weight: 500;
    }

    .tleft p{
        font-size: 24px;
    }

    .tleft h5{
        font-size: 20px;
    }

    .tBton .shopTiers{
        width: auto;
    }

    .tBton .tbtn1{
        font-size: 20px;
        height: 40px;
        border-radius: 35px;
        width: auto;
    }

    .shopTiers button{
        font-size: 14px;
    }
    .htinvest button{
        font-size: 14px;
    }

    .tBton .tbtn1 .arrowicons{
        width: 35px;
        height: 35px;
    }

    .htinvest button{
        font-size: 14px;
    }
  
}
  
@media only screen and (min-width: 1800px){
    .tleft{
        margin-top: 40px;
    }
    

    .tleft h1{
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .shopTiers button{
        font-size: 14px;
    }
    .htinvest button{
        font-size: 14px;
    }
}


@media only screen and (min-width: 2000px){
    .Tcontents{
        margin: 170px auto;
    }

    .tright #Timg{
        transform: translateY(-56%);
    }
    .tleft{
        margin-top: 50px;
    }

    .tleft h1{
        font-size: 48px;
    }

    .tleft p{
        font-size: 30px;
    }
    
} */








